<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/estilos.css">
    <title>Projeto Integrador I</title>

    
</head>


<body style="padding: 25px;">
    <!-- CABEÇALHO DO PROJETO -->
    <header class="caixa-bordas-redondas">
        <img src="./figuras/assis-horizontal-2.png" alt="" height="80">
        <h1 style="text-align: center;">Projeto Integrador - [financi.guru]</h1>
        <table>
            <tr>
                <td><strong>Turma</strong>: </td>
                <td>IIW2025A</td>
            </tr>
            <tr>
                <td><strong>Grupo</strong>: </td>
                <td>Daniel</td>
            </tr>
            <tr>
                <td></td>
                <td>Arthur</td>
            </tr>
            <tr>
                <td></td>
                <td>Davi</td>
            </tr>
        </table>
    </header>

    <!-- SEÇÃO DE PLANEJAMENTO -->
    <div>
        <h2>1. Planejamento</h2>

        <!-- TEMA -->
        <div>
            <h3>Tema do Site</h3>
            <p>O tema escolhido foi Educação Financeira. No nosso site, nós ensinaremos as pessoas a como usar seu dinheiro de forma responsável, de forma que evitem cair em dívidas, golpes ou algo que possa prejudicá-las financeiramente. Também ensinaremos conceitos simples, como juros, cartão de crédito e débito, empréstimo, etc.</p>
        </div>

        <!-- PÚBLICO-ALVO -->
        <div>
            <h3>Público-Alvo</h3>
                Pessoas que usam dinheiro de forma irresponsável, ou que gostariam de aprender a usar o seu dinheiro de forma mais eficiente.
        </div>

        <!-- SEÇÕES -->
        <div>
            <h3>Estrutura do site</h3>
            Descreva como você vai explorar o tema transversal de sua escolha, ou seja,
            qual será a estrutura do seu site. Por exemplo, se você escolher educação no trânsito, você poderia dividir esse tópico como a seguir.                
        </div>
        <div class="estrutura">
            <h3 style="color: #2c5f82;">Exemplo de Estrutura do Site</h3>
            
            <p>Nosso site sobre <strong>Educação Financeira</strong> será organizado em 4 seções principais:</p>
            
            <!-- LISTA DE SEÇÕES -->
            <ul style="list-style-type: none; padding-left: 20px;">
                <li style="margin: 10px 0;">
                    <strong>Seção 1: Cabeçalho</strong>
                    <ul>
                        <li>Logo do site</li>
                        <li>Botão de modo claro/escuro</li>
                        <li>Outros botões, como contatos</li>
                    </ul>
                </li>
                
                <li style="margin: 10px 0;">
                    <strong>Seção 2: Introdução</strong>
                    <ul>
                        <li>Breve descrição do propósito do site</li>
                        <li>Textinho sobre a importância da educação financeira</li>
                    </ul>
                </li>
                
                <li style="margin: 10px 0;">
                    <strong>Seção 3: Os Tópicos</strong>
                    <ul>
                        <li>Cartões que abordam tópicos financeiros diferentes</li>
                        <li>Clique em um cartão para ver seu conteúdo</li>
                        <li>Gráficos interativos</li>
                    </ul>
                </li>
                
                <li style="margin: 10px 0;">
                    <strong>Seção 4: Rodapé</strong>
                    <ul>
                        <li>Mais contatos</li>
                        <li>Código fonte do site</li>
                        <li>Créditos</li>
                    </ul>
                </li>
            </ul>

            <!-- JUSTIFICATIVA -->
            <div style="background-color: #f8f9fa; padding: 15px; margin-top: 15px;">
                <h4>Por Que Essa Estrutura?</h4>
                <p>Essa organização permite:</p>
                <ol>
                    <li>Abordar os temas necessários de forma compacta e rápida;</li>
                    <li>Fácil deslocamento entre tópicos desejados;</li>
                    <li>Transparência do código fonte, ao mesmo tempo que aplicam-se conhecimentos diversos da área de informática que seriam úteis num cenário profissional</li>
                </ol>
            </div>
        </div>

    </div>

    <!-- SEÇÃO DE WIREFRAMES -->
    <div>
        <h2>2. Wireframes</h2>

        <p>Inclua aqui os wireframes do seu site como figuras, 
            como nos exemplos abaixo. 
            Você pode aprender mais sobre os wireframes na internet ou 
            por meio <a href="./wireframes.html" target="_blank">desta página</a>,
            criada com o auxílio do <a href="https://www.deepseek.com">Deep Seek</a>.
        </p>
        <figure class="fig-wireframe">
            <img src="./figuras/wireframe1.png" 
                 alt="Wireframe 1"
                 class="wireframeimage1">
            <figcaption>Wireframe Principal</figcaption>
        </figure>

        <figure class="fig-wireframe">
            <img src="./figuras/wireframe2.png" 
                 alt="Wireframe 2"
                 class="wireframeimage2">
            <figcaption>Wireframe dos Cartões </figcaption>
        </figure>
        
    </div>

    <!-- RODAPÉ -->
    <footer class="caixa-bordas-redondas">
        <p>Projeto Integrador I - Curso Técnico em Informática para Internet | 2024</p>
        <p>Este projeto foi criado em conformidade com os
            <a href="https://drive.google.com/file/d/1l7pSHpQlaIkOTai41PK9HiEQSAQ93yaH/view?usp=sharing"
                target="_blank">
                temas transversais da BNCC
            </a>
        </p>
    </footer>
</body>

</html>